
{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Profile</legend>
                <h5>Are you sure you want to delete the account {{object.username}} ?</h5>
            </fieldset>
            <div class="form-group mb-2 mt-2">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
                &nbsp;
                <a class="btn btn-outline-secondary" href="{% url 'profile' %}">Cancle</a>

            </div>
        </form>
    </div>
{% endblock content %}